<h3>Dear <%= @order.name %>,</h3>

<p>Thank you for your recent order from The Pragmatic Store:</p>

<table>
    <tr><th colspan="2">Qty</th><th>Description</th></tr>
    <% @order.line_items.each do |line_item|%>
        <tr>
            <td><%= line_item.quantity %>&times;</td>
            <td><%= line_item.product.title %></td>
            <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
        </tr>
    <% end %>
</table>

<p>
    We'll send you another email when your order ships. <br/>
    <br/>
    Best regards,<br/>
    Depot
</p>
